{%- import 'screen/lib.jinja' as tofs with context -%}
{%- from 'screen/map.jinja' import screen with context -%}
# Managed by saltstack.
#
# This is an example for the global screenrc file.
# You may want to install this file as /usr/local/etc/screenrc.
# Check config.h for the exact location.
#
# Flaws of termcap and standard settings are done here.
#

{%- for key, value in screen.system|dictsort -%}
{{ tofs.key_value_formatter(key, value) }}
{%- endfor -%}
